<div class="text-center">
  <h1>Login</h1>
  <p><%= flash.alert %></p>
  <div class="w-25 mx-auto">
    <%= form_with(url: login_path) do |form| %>
      <div class="mb-3">
        <%= form.label :name, class: "form-label" %>
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= form.label :password, class: "form-label" %>
        <%= form.password_field :password, class: "form-control" %>
      </div>

      <div>
        <%= form.submit "Login", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>